.grid {
	display: -ms-grid;
	display: grid;
	grid-gap: 10px;

	-ms-grid-columns: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
}

.grid-item:nth-child(even) {
	background-color: #ccc;
	color: #000;
}