.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
    grid-area: footer;
}

/* Grid-template-areas isn't supported, but we can convert it to work with grid lines. */

.grid {
	display: grid;
	display: -ms-grid;
	grid-gap: 10px;
	-ms-template-columns:  1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"....... header header"
	"sidebar content content"
	"footer  footer  footer";
}