.grid {
	display: -ms-grid;
	display: grid;
    grid-gap: 10px;
    
    -ms-template-columns: repeat(4, [col] 1fr);
    grid-template-columns: repeat(4, [col] 1fr);
    -ms-template-rows: repeat(3, [row] auto);
    grid-template-rows: repeat(3, [row] auto);
}

.a {
    -ms-grid-column: col / span 2;
    grid-column: col / span 2;
    -ms-grid-row: row;
    grid-row: row;
}

.b {
    -ms-grid-column: col / span 2;
    grid-column: col 3 / span 2;
    -ms-grid-row: row;
    grid-row: row;
}

.c {
    -ms-grid-column: col;
    grid-column: col;
    -ms-grid-row: row 2;
    grid-row: row 2;
}

.d {
    -ms-grid-column: col 2 / span 3;
    grid-column: col 2 / span 3;
    -ms-grid-row: row 2;
    grid-row: row 2;
}

.e {
    -ms-grid-column: col / span 4;
    grid-column: col / span 4;
    -ms-grid-row: row 3;
    grid-row: row 3;
}