ul {
    list-style: none;
}

.grid {
    grid-template-columns: repeat(7, [col] 1fr);
    grid-template-rows: repeat(2, [row] 250px);
    grid-gap: 20px;
}

li {
    display: grid;
    background: #ae0000;
    color: #fff;
    border-radius: 6px;
}

li p {
    align-self: center;
    padding: 0 40px;
    font-family: 'Average', serif;
    font-size: 1.375rem;
    line-height: normal;
}

li:nth-child(1) {
    grid-column: span 2;
}

li:nth-child(2) {
    grid-column: span 3;
    background: #fd7802;
}

li:nth-child(3) {
    grid-column: span 2;
}

li:nth-child(4) {
    grid-column: span 4;
    background: #fdad12;
}

li:nth-child(5) {
    grid-column: span 1;
}

li:nth-child(6) {
    grid-column: span 2;
    background: #fd7802;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, [col] 1fr);
        grid-template-rows: repeat(6, [row] 250px);
        grid-gap: 20px;
        width: auto;
    }

    li {
        font-size: 1.25rem;
    }

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6) {
        grid-column: span 1;
    }
}