<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Grid vs Flexbox</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href="../css/displays.css" rel="stylesheet" />
		<link href="../css/lightbox01.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body data-theme="lightbox">
		<div class="container">
			<div class="grid" data-col="6" data-margin="0">
				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-adam-lambert.jpg" data-thumb="p-1">
						</figure>
						<div class="content-holder">
							<h4>Adam Lambert</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-adele.jpg" data-thumb="p-2">
						</figure>
						<div class="content-holder">
							<h4>Adele</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-brett-kissel.jpg" data-thumb="p-3">
						</figure>
						<div class="content-holder">
							<h4>Brett Kissel</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-bruno-mars.jpg" data-thumb="p-4">
						</figure>
						<div class="content-holder">
							<h4>Bruno Mars</h4>
						</div>
					</div>
				</article>
				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-charlie-puth.jpg" data-thumb="p-1">
						</figure>
						<div class="content-holder">
							<h4>Charlie Puth</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-ed-sheeran.jpg" data-thumb="p-2">
						</figure>
						<div class="content-holder">
							<h4>Ed Sheeran</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-halsey.jpg" data-thumb="p-3">
						</figure>
						<div class="content-holder">
							<h4>Halsey</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-the-chainsmokers.jpg" data-thumb="p-4">
						</figure>
						<div class="content-holder">
							<h4>The Chainsmokers</h4>
						</div>
					</div>
				</article>
				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-imagine-dragons.jpg" data-thumb="p-1">
						</figure>
						<div class="content-holder">
							<h4>Imagine Dragons</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-lady-gaga.jpg" data-thumb="p-2">
						</figure>
						<div class="content-holder">
							<h4>Lady Gaga</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-meghan-trainor.jpg" data-thumb="p-3">
						</figure>
						<div class="content-holder">
							<h4>Meghan Trainor</h4>
						</div>
					</div>
				</article>

				<article data-image-layout="square">
					<div class="tile square">
						<figure>
							<img src="../images/music-p!nk.jpg" data-thumb="p-4">
						</figure>
						<div class="content-holder">
							<h4>P!nk</h4>
						</div>
					</div>
				</article>
			</div>
		</div>

		<div class="lightbox">
			<div class="grid" data-col="1">
				<article>
					<figure>
						<span class="filler">
				   			<img src="">
				   		</span>
				   	</figure>
				</article>
			</div>
		   <div class="lightbox-close"></div>
		</div>

		<script src="../scripts/lib/jquery-3.2.1.min.js"></script>
		<script src="../scripts/lightbox01.js"></script>

	</body>
</html>
