<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>rtodd - CSS3 Grids</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href="../css/displays.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="grid">
				<div data-layout="grid">
					<div class="grid" data-col="4" data-margin="0">
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-adam-lambert.jpg">
								</figure>
								<div class="content-holder">
									<h4>Adam Lambert</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-adele.jpg">
								</figure>
								<div class="content-holder">
									<h4>Adele</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-bruno-mars.jpg">
								</figure>
								<div class="content-holder">
									<h4>Bruno Mars</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-charlie-puth.jpg">
								</figure>
								<div class="content-holder">
									<h4>Charlie Puth</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-ed-sheeran.jpg">
								</figure>
								<div class="content-holder">
									<h4>Ed Sheeran</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-halsey.jpg">
								</figure>
								<div class="content-holder">
									<h4>Halsey</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">>
							<div class="tile">
								<figure>
									<img src="../images/music-imagine-dragons.jpg">
								</figure>
								<div class="content-holder">
									<h4>Imagine Dragons</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-lady-gaga.jpg">
								</figure>
								<div class="content-holder">
									<h4>Lady Gaga</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-meghan-trainor.jpg">
								</figure>
								<div class="content-holder">
									<h4>Meghan Trainor</h4>
								</div>
							</div>
						</article>

						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-the-chainsmokers.jpg">
								</figure>
								<div class="content-holder">
									<h4>The Chainsmokers</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-the-script.jpg">
								</figure>
								<div class="content-holder">
									<h4>The Script</h4>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile">
								<figure>
									<img src="../images/music-p!nk.jpg">
								</figure>
								<div class="content-holder">
									<h4>P!nk</h4>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<script src="../scripts/lib/jquery-3.2.1.min.js"></script>
		<script src="../scripts/grid-square.js"></script>
	</body>
</html>