<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - CSS3 Grids</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body data-theme="index">
		<div class="container">
            <div class="grid" data-col="3">
                <article>
					<h3>Combinations</h3>
					<ul>
						<li><a href="combos-01.html">Combo Layout w/ Vertical Scroller</a></li>
						<li><a href="combos-02.html">Column layout - combo</a></li>
					</ul>

					<h3>Gallery Trials</h3>
					<ul>
						<li><a href="displays-02.html">Light Box - Simple</a></li>
						<li><a href="displays-gallery01a.html">Gallery Trial 01 - no jquery</a></li>
						<li><a href="displays-gallery00a.html">Gallery Trial 00 - no jquery</a></li>
						<li><a href="displays-gallery01b.html">Gallery Trial 01</a></li>
					</ul>
				</article>
				<article>
					<h3>Layouts</h3>

					<h3>responsive</h3>
					<p>Combination of grid ad flexbox for responsiveness</p>
					<ul>
						<li><a href="responsive03.html">Responsive 03</a></li>
						<li><a href="responsive04.html">Responsive 04</a></li>
						<li><a href="responsive05.html">Responsive 05</a></li>
						<li><a href="responsive06.html">Responsive 06</a></li>
					</ul>

					<h3>Responsive Images</h3>
					<ul>
						<li><a href="responsive-images01.html">Responsive Images 01</a></li>
						<li><a href="responsive-images01b.html">Responsive Images 01b</a></li>
						<li><a href="responsive-images02.html">Responsive Imags and Lazy Load 01</a></li>
						<li><a href="responsive-images02b.html">Responsive Imags and Lazy Load 01b</a></li>
					</ul>

					<ul>
						<li><a href="../layouts-01.html">Even Combos (ones)</a></li>
						<li><a href="../layouts-01b.html">Even Combos (twos)</a></li>
						<li><a href="../layouts-01c.html">Even Combos (threes)</a></li>
						<li><a href="../layouts-01d.html">Even Combos (fours)</a></li>
						<li><a href="../layouts-01e.html">Even Combos (fives)</a></li>
						<li><a href="../layouts-01f.html">Even Combos (Sixes)</a></li>
						<li><a href="../layouts-02b.html">Uneven Combos (twos)</a></li>
						<li><a href="../layouts-02c.html">Uneven Combos (threes)</a></li>
						<li><a href="../layouts-02d.html">Uneven Combos (fours)</a></li>
						<li><a href="../layouts-02e.html">Uneven Combos (fives)</a></li>
					</ul>
					<ul>
						<li><a href="../layouts-03.html">Equal, simple combinations - square images</a></li>
						<li><a href="../layouts-03a.html">Equal Square Images - no margin</a></li>
						<li><a href="../layouts-03b.html">Equal Square Images - multi-row</a></li>
						<li><a href="../layouts-03c.html">Unequal Square Images</a></li>
					</ul>
				</article>
				<article>
					<h3>Learning - Layout Experimentation</h3>
					<ul>
						<li><a href="../learn/layout00a.html">Layout 00a</a></li>
						<li><a href="../learn/layout04.html">Layout 04</a></li>
						<li><a href="../learn/layout05.html">Layout 05</a></li>
					</ul>
					<ul>
						<li><a href="../learn/layout01.html">Layout 01</a></li>
						<li><a href="../learn/layout02.html">Layout 02</a></li>
						<li><a href="../learn/layout03.html">Layout 03 - 02 another way</a></li>

					</ul>
				</article>
			</div>
		</div>
	</body>
</html>