<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>rtodd - CSS3 Grids</title>
		<link href="../css/learn/layout00a.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class='grid first'>
				<article>
					<figure>
						<img src="../../images/personalities-matt-bomer02.jpg">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
				</article>
				<article>
					<figure>
						<img src="../../images/personalities-matt-bomer02.jpg">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
					eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
				</article>
				<article>
					<figure>
						<img src="../../images/personalities-matt-bomer02.jpg">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan. Cras tempus diam sed tortor malesuada, et sodales nunc dignissim. Aenean vitae rhoncus dui. Aenean mattis ligula a porttitor pellentesque. Fusce auctor augue ut justo volutpat feugiat. Aenean eget quam id nulla semper gravida. Donec mattis maximus nulla, ut tristique mauris vulputate a.</p>
				</article>
				<article>
					<figure>
						<img src="../../images/personalities-matt-bomer02.jpg">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
				</article>
				<article>
					<figure>
						<img src="../../images/personalities-matt-bomer02.jpg">
					</figure>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
						eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus ac
						justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
				</article>
			</div>

			<pre>
.grid {
	display: grid;
	grid-template-columns: [first] 1fr [line2] 1fr [line3] 300px [line4] 1fr [line5] 1fr [end];
}
				</pre>

				<div class='grid second'>
					<article>
						<figure>
							<img src="../../images/music-the-chainsmokers.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/music-the-chainsmokers.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/music-the-chainsmokers.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan. Cras tempus diam sed tortor
							malesuada, et sodales nunc dignissim. Aenean vitae rhoncus dui. Aenean mattis ligula a porttitor pellentesque. Fusce
							auctor augue ut justo volutpat feugiat. Aenean eget quam id nulla semper gravida. Donec mattis maximus nulla, ut
							tristique mauris vulputate a.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/music-the-chainsmokers.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/music-the-chainsmokers.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac
							justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
				</div>
				
				<pre>
.grid {
	display: grid;
	grid-template-columns: [start-1] 1fr [end-1 start-2] 1fr [end-2 start-3] 300px [end-3 start-4] 1fr [end-4 start-5] 1fr
	[end-5];
}
</pre>

				<div class='grid third'>
					<article>
						<figure>
							<img src="../../images/tv-westworld01.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/tv-westworld01.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/tv-westworld01.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan. Cras tempus diam sed tortor
							malesuada, et sodales nunc dignissim. Aenean vitae rhoncus dui. Aenean mattis ligula a porttitor pellentesque. Fusce
							auctor augue ut justo volutpat feugiat. Aenean eget quam id nulla semper gravida. Donec mattis maximus nulla, ut
							tristique mauris vulputate a.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/tv-westworld01.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
					<article>
						<figure>
							<img src="../../images/tv-westworld01.jpg">
						</figure>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus id massa et laoreet. Aliquam commodo
							eget dolor ac gravida. Nunc imperdiet porttitor lobortis. Sed a mauris at arcu suscipit mollis. Sed sit amet purus
							ac
							justo venenatis ultricies in in turpis. Nam vel purus a nisi porttitor accumsan.</p>
					</article>
				</div>
				
<pre>
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr [start]) [start-3] 300px [end-3] repeat(2, 1fr [end]);
}
</pre>

		</div>
	</body>
</html>