<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Grid vs Flexbox</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="grid" data-col="5">
				<article>
					<h4>This is the Headline</h4>
					<figure>
						<span class="filler">
							<img src="../images/personalities-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
				</article>
				<article>
					<h4>This is the Headline</h4>
					<figure>
						<span class="filler">
							<img src="../images/personalities-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
				</article>
				<article>
					<h4>This is the Headline</h4>
					<figure>
						<span class="filler">
							<img src="../images/personalities-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
				</article>
				<article>
					<h4>This is the Headline</h4>
					<figure>
						<span class="filler">
							<img src="../images/personalities-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
				</article>
				<article>
					<h4>This is the Headline</h4>
					<figure>
						<span class="filler">
							<img src="../images/personalities-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
				</article>
			</div>
		</div>
	</body>
</html>