<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>rtodd - CSS3 Grids</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href="../css/displays.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class="grid" data-layout="left-rail">
				<div>
					<h3>Mr. Robot</h3>
					<figure>
						<img src="../images/tv-mr-robot01.jpg">
						<figcaption>Rami Said Malek, born May 12, 1981, is an Egyptian-American actor. (photo credit)</figcaption>
					</figure>
					<p>Mr. Robot is an American drama–thriller television series created by Sam Esmail. It stars Rami Malek as Elliot Alderson, a cybersecurity engineer and hacker who suffers from social anxiety disorder and clinical depression. Alderson is recruited by an insurrectionary anarchist known as "Mr. Robot", played by Christian Slater, to join a group of hacktivists called "fsociety".</p>
					<figure>
						<img src="../images/tv-mr-robot02.jpg">
						<figcaption>Christian Michael Leonard Slater (born August 18, 1969) is an American actor and producer. He made his film debut with a leading role in the 1985 film The Legend of Billie Jean. (photo credit)</figcaption>
					</figure>
					<h3>Stranger Things</h3>
					<figure>
						<img src="../images/tv-stranger-things02.jpg">
						<figcaption>The second season is set a year after the first, and deals with attempts of the characters to return to
							normal and consequences from that season. (photo credit)</figcaption>
					</figure>
					<p>Set in the fictional town of Hawkins, Indiana in the 1980s, the first season focuses on the investigation into the
						disappearance of a young boy amid supernatural events occurring around the town including the appearance of a
						psychokinetic girl who helps the missing boy's friends in their own search.</p>
					<figure>
						<img src="../images/tv-stranger-things01.jpg">
						<figcaption>The second season is set a year after the first, and deals with attempts of the characters to return to
							normal and consequences from that season. (photo credit)</figcaption>
					</figure>

				</div>
				
				<div>
					<h3>American Gods</h3>
					<figure>
						<img src="../images/tv-american-gods01.jpg">
						<figcaption>Richard "Ricky" Whittle (born 31 December 1981) is an English actor. He first came to prominence as a model for Reebok in the early 2000s. (photo credit)</figcaption>
					</figure>
					<p>American Gods is an American television series based on the novel of the same name, written by Neil Gaiman and originally published in 2001. The television series was developed by Bryan Fuller and Michael Green for the premium cable network Starz. Fuller and Green are the showrunners for the series. Gaiman serves as an executive producer along with Fuller, Green, Craig Cegielski, Stefanie Berk, David Slade, and Adam Kane.</p>
					<p>The series focuses on Shadow Moon, who meets a strange man named Mr. Wednesday after being released from prison, and soon becomes embroiled in a large-scale conflict between the Old Gods and the New Gods, who grow stronger each day. The first season originally ran on the Starz network and streaming service from April to June 2017. In May 2017, the series was renewed for a second season.</p>

					<h3>Riverdale</h3>
					<figure>
						<img src="../images/tv-riverdale.jpg">
						<figcaption>Riverdale is an American teen drama television series based on the characters by Archie Comics. (photo
							credit)</figcaption>
					</figure>
					<p>Riverdale is an American teen drama television series based on the characters by Archie Comics. The series premiered
						on January 26, 2017, on The CW. It was adapted for television by Archie Comics' chief creative officer Roberto
						Aguirre-Sacasa and executive produced by Greg Berlanti. On March 7, 2017, The CW renewed the series for a second
						season, which is scheduled to debut on October 11, 2017.[3] In September 2017, a spin-off series, titled The Chilling
						Adventures of Sabrina, was revealed to be in development.</p>
					<p>The show features an ensemble cast based on the characters of Archie Comics, with KJ Apa in the role of Archie
						Andrews; Lili Reinhart as Betty Cooper, his next door neighbor who has a crush on him; Camila Mendes as Veronica
						Lodge, his new love interest; and Cole Sprouse as Jughead Jones, his ex-best friend and the narrator of the show. The
						show also features Ashleigh Murray as Josie McCoy, the lead singer of the Pussycats, and Madelaine Petsch as Cheryl
						Blossom, the twin sister of Jason Blossom, who is at the center of the series' mystery. Other characters in the show
						include Fred Andrews, Alice Cooper and Hermione Lodge, the parents of Archie, Betty, and Veronica respectively.</p>
				</div>
				<div class="ad">
					This is an ad
				</div>
			</div>
		</div>
	</body>
</html>