<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>rtodd - CSS3 Grids</title>
		<link href="../css/layouts.css" rel="stylesheet" />
		<link href="../css/displays.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body>
		<div class="container">
			<div class="grid" data-layout="left-rail">
				<div class="left-rail"></div>
				<div>
					<div class="grid" data-col="4" data-margin="0">
						<article data-image-layout="square">
							<div class="tile square">
								<figure>
									<img src="../../images/sports-robbie-rogers.jpg">
								</figure>
								<div class="content-holder">
									<div class="content-header sports">Sports</div>
									<p>"Robbie" Rogers</p>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile square">
								<figure>
									<img src="../../images/sports-tom-daley.jpg">
								</figure>
								<div class="content-holder">
									<div class="content-header sports">Sports</div>
									<p>Thomas Robert Daley</p>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile square">
								<figure>
									<img src="../../images/sports-gus-kenworthy.jpg">
								</figure>
								<div class="content-holder">
									<div class="content-header sports">Sports</div>
									<p>"Gus" Kenworthy</p>
								</div>
							</div>
						</article>
						<article data-image-layout="square">
							<div class="tile square">
								<figure>
									<img src="../../images/sports-ian-thorpe.jpg">
								</figure>
								<div class="content-holder">
									<div class="content-header sports">Sports</div>
									<p>Ian James Thorpe</p>
								</div>
							</div>
						</article>
					</div>

					<div class="grid" data-col="4">
						<article class="panel">
							<h3>Westworld</h3>
							<figure>
								<span class="filler">
									<img src="../../images/tv-westworld01.jpg">
								</span>
								<figcaption>The story takes place in the fictional Westworld, a technologically advanced Wild West-themed amusement
									park populated by android hosts. (photo credit)</figcaption>
							</figure>
							<p>Westworld is an American science fiction western thriller television series created by Jonathan Nolan and Lisa Joy
								for HBO. It is based on the 1973 film of the same name, which was written and directed by American novelist Michael
								Crichton, and to a lesser extent on the 1976 sequel Futureworld. It is the second TV series based on the two films,
								the first being the short-lived 1980 series Beyond Westworld.</p>
							<p>The series' debut on HBO garnered the network's highest viewership ratings for a premiere since the first episode
								of
								True Detective in 2014 and Westworld ranks as the most-watched first season of an HBO original series ever.
								Westworld
								has received positive reviews by critics, with particular praise for the visuals, story, and acting.</p>
							<figure>
								<span class="filler">
									<img src="../../images/tv-westworld02.jpg">
								</span>
								<figcaption>The story takes place in the fictional Westworld, a technologically advanced Wild West-themed amusement
									park populated by android hosts. (photo credit)</figcaption>
							</figure>
						</article>
						<article class="panel">
							<h3>Stranger Things</h3>
							<figure>
								<span class="filler">
									<img src="../../images/tv-stranger-things01.jpg">
								</span>
								<figcaption>Deals with attempts of the characters to return to normal. (photo credit)</figcaption>
							</figure>
							<p>Westworld is an American science fiction western thriller television series created by Jonathan Nolan and Lisa Joy
								for HBO. It is based on the 1973 film of the same name, which was written and directed by American novelist Michael
								Crichton, and to a lesser extent on the 1976 sequel Futureworld. It is the second TV series based on the two films,
								the first being the short-lived 1980 series Beyond Westworld.</p>
							<p>The series' debut on HBO garnered the network's highest viewership ratings for a premiere since the first episode
								of
								True Detective in 2014 and Westworld ranks as the most-watched first season of an HBO original series ever.
								Westworld
								has received positive reviews by critics, with particular praise for the visuals, story, and acting.</p>
							<figure>
								<span class="filler">
									<img src="../../images/tv-stranger-things02.jpg">
								</span>
								<figcaption>Deals with attempts of the characters to return to normal. (photo credit)</figcaption>
							</figure>
						</article>
						<article class="panel">
							<h3>Mr. Robot</h3>
							<figure>
								<span class="filler">
									<img src="../../tv-mr-robot01images/tv-mr-robot01.jpg">
								</span>
								<figcaption>Rami Said Malek is an Egyptian-American actor. (photo credit)</figcaption>
							</figure>
							<p>Mr. Robot is an American drama–thriller television series created by Sam Esmail. It stars Rami Malek as Elliot
								Alderson, a cybersecurity engineer and hacker who suffers from social anxiety disorder and clinical depression.
								Alderson is recruited by an insurrectionary anarchist known as "Mr. Robot", played by Christian Slater, to join a
								group of hacktivists called "fsociety".</p>
							<p>Mr. Robot has received critical acclaim and has been nominated for and won multiple awards, including the Golden
								Globe for Best Television Drama Series and was recognized with a Peabody Award. In 2016, the series received six
								Emmy
								nominations, including Outstanding Drama Series with Malek winning for Outstanding Lead Actor in a Drama Series.</p>
							<figure>
								<span class="filler">
									<img src="../../images/tv-mr-robot02.jpg">
								</span>
								<figcaption>Christian Michael Leonard Slater is an American actor and producer. (photo credit)</figcaption>
							</figure>
						</article>
						<article class="panel">
							<h3>American Gods</h3>
							<figure>
								<span class="filler">
									<img src="../../images/tv-american-gods01.jpg">
								</span>
								<figcaption>Richard "Ricky" Whittle is an English actor. (photo credit)</figcaption>
							</figure>
							<p>American Gods is an American television series based on the novel of the same name, written by Neil Gaiman and
								originally published in 2001. The television series was developed by Bryan Fuller and Michael Green for the premium
								cable network Starz. Fuller and Green are the showrunners for the series. Gaiman serves as an executive producer
								along with Fuller, Green, Craig Cegielski, Stefanie Berk, David Slade, and Adam Kane.</p>
							<p>The series focuses on Shadow Moon, who meets a strange man named Mr. Wednesday after being released from prison,
								and soon becomes embroiled in a large-scale conflict between the Old Gods and the New Gods, who grow stronger each
								day. The first season originally ran on the Starz network and streaming service from April to June 2017. In May 2017,
								the series was renewed for a second season.</p>
							<figure>
								<span class="filler">
									<img src="../../images/tv-american-gods02.jpg">
								</span>
								<figcaption>Richard "Ricky" Whittle is an English actor. (photo credit)</figcaption>
							</figure>
						</article>
					</div>

					<div class="grid" data-col="4">
						<article class="panel">
							<h3>BLANK</h3>
							<figure>
								<span class="filler">

								</span>
							</figure>
							<p>Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor nisi massa, eu
								tincidunt tellus
								posuere quis. Morbi sit amet tristique nunc.</p>
						</article>
						<article class="panel">
							<h3>BLANK</h3>
							<figure>
								<span class="filler">

								</span>
							</figure>
							<p>Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor nisi massa, eu
								tincidunt tellus
								posuere quis. Morbi sit amet tristique nunc.</p>
						</article>
						<article class="panel">
							<h3>BLANK</h3>
							<figure>
								<span class="filler">

								</span>
							</figure>
							<p>Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor nisi massa, eu
								tincidunt tellus
								posuere quis. Morbi sit amet tristique nunc.</p>
						</article>
						<article class="panel">
							<h3>BLANK</h3>
							<figure>
								<span class="filler">

								</span>
							</figure>
							<p>Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor nisi massa, eu
								tincidunt tellus
								posuere quis. Morbi sit amet tristique nunc.</p>
						</article>
					</div>

					<div class="grid" data-col="4">
						<article class="panel">
							<h3>Movies</h3>
							<figure>
								<span class="filler">
									<img src="../../images/movies-back-to-the-future.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
								<li><a href="javascript:void(0)">Donec elit lectus, placerat pulvinar lacus nec, eleifend congue metus.</a></li>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Television</h3>
							<figure>
								<span class="filler">
									<img src="../../images/tv-riverdale.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">In feugiat leo mauris, in aliquam elit eleifend at. Praesent congue ligula orci, a
										egestas metus imperdiet id. Vivamus convallis fermentum fermentum.</a></li>
								<li><a href="javascript:void(0)">Nulla dapibus felis eu quam maximus, at volutpat velit condimentum.</a></li>
								<li><a href="javascript:void(0)">Cras enim felis</a></li>
								<li><a href="javascript:void(0)">Praesent suscipit lacus vel nisi lacinia egestas.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Personalities</h3>
							<figure>
								<span class="filler">
									<img src="../../images/personalities-matt-bomer02.jpg">
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Quisque ut semper velit, in elementum metus.</a></li>
								<li><a href="javascript:void(0)">Suspendisse pretium, metus at fermentum tempus, dolor ex pulvinar nisl, sed commodo
										augue arcu ac ipsum.</a></li>
								<li><a href="javascript:void(0)">Suspendisse id porta ex, vitae commodo est.</a></li>
								<li><a href="javascript:void(0)">Duis eu interdum ante. Quisque hendrerit maximus nisl et posuere.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Performance</h3>
							<figure>
								<span class="filler">
									<img src="../../images/performance-shaping-sound02.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
								<li><a href="javascript:void(0)">Donec elit lectus, placerat pulvinar lacus nec, eleifend congue metus.</a></li>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
							</ul>
						</article>
					</div>

					<div class="grid" data-col="2-1-1">
						<article class="panel">
							<h3>Personalities</h3>
							<figure>
								<span class="filler">
									<img src="../../images/personalities-robin-lord-taylor.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">In feugiat leo mauris, in aliquam elit eleifend at. Praesent congue ligula orci, a
										egestas metus imperdiet id. Vivamus convallis fermentum fermentum.</a></li>
								<li><a href="javascript:void(0)">Nulla dapibus felis eu quam maximus, at volutpat velit condimentum.</a></li>
								<li><a href="javascript:void(0)">Cras enim felis</a></li>
								<li><a href="javascript:void(0)">Praesent suscipit lacus vel nisi lacinia egestas.</a></li>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Performance</h3>
							<figure>
								<span class="filler">
									<img src="../../images/performance-gideon-glick.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
								<li><a href="javascript:void(0)">Donec elit lectus, placerat pulvinar lacus nec, eleifend congue metus.</a></li>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Personalities</h3>
							<figure>
								<span class="filler">
									<img src="../../images/personalities-tommy-dorfman.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">In feugiat leo mauris, in aliquam elit eleifend at. Praesent congue ligula orci, a
										egestas metus imperdiet id. Vivamus convallis fermentum fermentum.</a></li>
								<li><a href="javascript:void(0)">Nulla dapibus felis eu quam maximus, at volutpat velit condimentum.</a></li>
								<li><a href="javascript:void(0)">Cras enim felis</a></li>
								<li><a href="javascript:void(0)">Praesent suscipit lacus vel nisi lacinia egestas.</a></li>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
					</div>
					<div class="grid" data-col="3">
						<article class="panel">
							<h3>Performance</h3>
							<figure>
								<span class="filler">
									<img src="../../images/performance-eli-lieb.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac leo nec mi viverra
										euismod.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
								<li><a href="javascript:void(0)">Donec elit lectus, placerat pulvinar lacus nec, eleifend congue metus.</a></li>
								<li><a href="javascript:void(0)">Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor
										nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Comic Books</h3>
							<figure>
								<span class="filler">
									<img src="../../images/comics-kevin-keller.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Quisque ut semper velit, in elementum metus.</a></li>
								<li><a href="javascript:void(0)">Suspendisse pretium, metus at fermentum tempus, dolor ex pulvinar nisl, sed commodo
										augue arcu ac ipsum.</a></li>
								<li><a href="javascript:void(0)">Suspendisse id porta ex, vitae commodo est.</a></li>
								<li><a href="javascript:void(0)">Duis eu interdum ante. Quisque hendrerit maximus nisl et posuere.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Personalities</h3>
							<figure>
								<span class="filler">
									<img src="../../images/personalities-ellen-page.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">In feugiat leo mauris, in aliquam elit eleifend at. Praesent congue ligula orci, a
										egestas metus imperdiet id. Vivamus convallis fermentum fermentum.</a></li>
								<li><a href="javascript:void(0)">Nulla dapibus felis eu quam maximus, at volutpat velit condimentum.</a></li>
								<li><a href="javascript:void(0)">Cras enim felis</a></li>
								<li><a href="javascript:void(0)">Praesent suscipit lacus vel nisi lacinia egestas.</a></li>
							</ul>
						</article>
					</div>
					<div class="grid" data-col="2">
						<article class="panel">
							<h3>Comic Books</h3>
							<figure>
								<span class="filler">
									<img src="../../images/comics-hulkling.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Quisque ut semper velit, in elementum metus.</a></li>
								<li><a href="javascript:void(0)">Suspendisse pretium, metus at fermentum tempus, dolor ex pulvinar nisl, sed commodo
										augue arcu ac ipsum.</a></li>
								<li><a href="javascript:void(0)">Suspendisse id porta ex, vitae commodo est.</a></li>
								<li><a href="javascript:void(0)">Duis eu interdum ante. Quisque hendrerit maximus nisl et posuere.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
						<article class="panel">
							<h3>Comic Books</h3>
							<figure>
								<span class="filler">
									<img src="../../images/comics-iceman.jpg" />
								</span>
							</figure>
							<ul>
								<li><a href="javascript:void(0)">Quisque ut semper velit, in elementum metus.</a></li>
								<li><a href="javascript:void(0)">Suspendisse pretium, metus at fermentum tempus, dolor ex pulvinar nisl, sed commodo
										augue arcu ac ipsum.</a></li>
								<li><a href="javascript:void(0)">Suspendisse id porta ex, vitae commodo est.</a></li>
								<li><a href="javascript:void(0)">Duis eu interdum ante. Quisque hendrerit maximus nisl et posuere.</a></li>
								<li><a href="javascript:void(0)">Cras semper lobortis commodo.</a></li>
							</ul>
						</article>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>