<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Grid vs Flexbox</title>
		<link href="../../css/layouts.css" rel="stylesheet" />
		<link href="../../css/displays.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body data-theme="home">
		<div class="container">
			<div class="grid" data-col="1">
				<article>
					<h2>This is the Headline</h2>
					<figure>
						<span class="filler">
							<img src="../../images/personality-ben-barnes01.jpg">
						</span>
						<figcaption>Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh. (photo credit)</figcaption>
					</figure>
					<p>Phasellus eget ipsum laoreet, malesuada ligula id, venenatis nibh. Curabitur auctor nisi massa, eu tincidunt tellus posuere quis. Morbi sit amet tristique nunc. Donec purus libero, lobortis nec ante et, ultricies ullamcorper nibh.</p>
					<p>Donec nec dignissim mi, ut sollicitudin purus. Proin justo nunc, auctor vitae nisl non, porttitor pellentesque odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus at tincidunt diam, ac tempus dolor. Donec tellus risus, consequat et vehicula quis, euismod vitae felis.</p>
					<p>Praesent accumsan nunc et dui porttitor accumsan. Integer leo tellus, congue ut ornare sed, volutpat at mauris. Integer nec elit vitae nulla vehicula aliquam eget vitae augue. Proin imperdiet, quam eget fringilla dapibus, massa est efficitur elit, at posuere neque neque sit amet ex. In fermentum mauris ut mi rhoncus aliquet.</p>
				</article>
			</div>
		</div>
	</body>
</html>