<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Flexgrid</title>
		<link href="../css/learn/layout05.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<div class="grid">
				<article class="heading">Graphic Design Experiments With</article>
				<article class="list">
					<ul>
						<li>Item</li>
						<li>Item</li>
						<li>Item</li>
						<li>Item</li>
						<li>Item</li>
						<li>Item</li>
					</ul>
				</article>
				<article class="subhead">Grid + Writing Mode</article>

				<article class="bar"><div></div></article>
				<!-- <article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article>
				<article></article> -->
			</div>
		</div>
	</body>
</html>