<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Grid vs Flexbox</title>
		<link href="../css/layouts.css" rel="stylesheet" />
	</head>

	<body data-theme="vs">
		<div class="container">
			<div class="grid" data-col="4">
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/travis-wall-xl.jpg 1600w, ../images/responsive/travis-wall-lg.jpg 1200w, ../images/responsive/travis-wall-md.jpg 800w, ../images/responsive/travis-wall-sm.jpg 600w, ../images/responsive/travis-wall-xs.jpg 400w"
								data-src="../images/responsive/travis-wall-xl.jpg"
								alt="Travis Wall">
						</span>
					</figure>
				</article>

				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/matt-doyle-xl.jpg 1600w, ../images/responsive/matt-doyle-lg.jpg 1200w, ../images/responsive/matt-doyle-md.jpg 800w, ../images/responsive/matt-doyle-sm.jpg 600w, ../images/responsive/matt-doyle-xs.jpg 400w"
								data-src="../images/responsive/matt-doyle-xl.jpg"
								alt="Matt Doyle">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/eli-lieb-xl.jpg 1600w, ../images/responsive/eli-lieb-lg.jpg 1200w, ../images/responsive/eli-lieb-md.jpg 800w, ../images/responsive/eli-lieb-sm.jpg 600w, ../images/responsive/eli-lieb-xs.jpg 400w"
								data-src="../images/responsive/eli-lieb-xl.jpg"
								alt="Eli Lieb">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/joseph-gordon-levitt-xl.jpg 1600w, ../images/responsive/joseph-gordon-levitt-lg.jpg 1200w, ../images/responsive/joseph-gordon-levitt-md.jpg 800w, ../images/responsive/joseph-gordon-levitt-sm.jpg 600w, ../images/responsive/joseph-gordon-levitt-xs.jpg 400w"
								data-src="../images/responsive/joseph-gordon-levitt-xl.jpg"
								alt="Joseph Gordon Levitt">
						</span>
					</figure>
				</article>
				<article>
					<figure>
						<span class="filler">
							<img
								class="lazyload"
								src="../images/responsive/placeholder.jpg"
								data-srcset="../images/responsive/gideon-glick-xl.jpg 1600w, ../images/responsive/gideon-glick-lg.jpg 1200w, ../images/responsive/gideon-glick-md.jpg 800w, ../images/responsive/gideon-glick-sm.jpg 600w, ../images/responsive/gideon-glick-xs.jpg 400w"
								data-src="../images/responsive/gideon-glick-xl.jpg"
								alt="Gideon Glick">
						</span>
					</figure>
				</article>
			</div>
		</div>
		<script src="../scripts/lib/lazysizes.min.js"></script>
	</body>
</html>