.container {
    width: 80%;
    margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: 100px 100px auto 100px 100px;
	grid-template-rows: 100px 100px 100px;
	margin: 1.25rem 0;

	/* fr is fraction of the grid
	// grid-column-gap: 1px;
	// grid-row-gap: 1px;
	 */
}

.grid.first {
	grid-template-columns: 100px 100px auto 100px 100px;
	grid-template-rows: 100px 100px 100px;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

.grid.second {
	grid-template-columns: 100px 100px auto 100px 100px;
	grid-template-rows: 100px 100px 100px;
	grid-gap: 25px 10px;
}