html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.grid {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	/* repeat tracks
	grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(2, 120px 10% 200px);
	/* auto-fill
	// grid-template-columns: repeat(auto-fill, 100px);
	/* auto-fit
	// grid-template-columns: repeat(auto-fit, 100px);
	// grid-template-rows: 100px 100px; */
	grid-gap: 1.5625rem;
	padding: 1.5625rem;
}

.grid,
.grid[data-col="1"] {
	grid-template-columns: [start-1] 1fr [end-1];
}

.grid[data-col="2"] {
	grid-template-columns: [start-1] 1fr [end-1 start-1] 1fr [end-2];
}

.grid[data-col="3"] {
	grid-template-columns: [start-1] 1fr [end-1 start-2] 1fr [end-2 start-3] 1fr [end-3];
}

.grid[data-col="4"] {
	grid-template-columns: [start-1] 1fr [end-1 start-2] 1fr [end-2 start-3] 1fr [end-3 start-4] 1fr [end-4];
}

.grid[data-col="5"],
.grid[data-col="2-2-1"] {
	grid-template-columns: [start-1] 1fr [end-1 start-2] 1fr [end-2 start-3] 1fr [end-3 start-4] 1fr [end-4 start-5] 1fr [end-5];
}

/* .grid[data-col="2-2-1"] > article:nth-child(1),
.grid[data-col="2-2-1"] > article:nth-child(2) {
	grid-column: span 2
} */

.grid[data-col="2-2-1"] > article:nth-child(1) {
	grid-column: start-1 / end-2;
}

.grid[data-col="2-2-1"] > article:nth-child(2) {
	grid-column: start-3 / end-4;
}

article {
	padding: 1.5625rem;
	border: 1px solid #333;
	color: #333;
}